body {
    padding-top: 70px;
}

.navbar-edit {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #aaaaaa;
}

.text-h1-edit {
    color: #337ab7;
}

.footer-bottom {
    margin-top: 60px;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    color: #fff;
    background: #337ab7;
}

#empty_title {
    margin: auto;
    width: fit-content;
    font-weight: bold;
}